<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/content/main/jquery.ui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Html.Script("/scripts/sea.js")" type="text/javascript"></script>
</head>

<body>
<div class="body">
        <div id="toper"><div class="wapper">
            <div id="tips">
                <ul class="list">
                    <li><a class="lk">首页</a></li>
                    <li class="end"><a class="lk">收藏</a></li>
                </ul>
            </div>
            <div id="logindis">
                <ul class="list">
                    <li><a class="lk" href="#">&#64提到我的(3)</a></li>
                    <li><a class="lk" href="#">回复</a></li>
                    <li><a class="lk" href="#">私信</a></li>
                    <li><a class="lk" href="#">通知</a></li>
                    <li class="end"><a class="lk" href="#">账户设置</a></li>
                </ul>
            </div>
        </div></div>
        <div id="header"><div class="wapper">

            <a id="logo">圈子 <span>Q.com.cn</span></a>
            <div id="nav">
                <ul class="list">
                    <li><a href='#'>首页</a></li>
                    <li><a class="lk" href='#'>圈子</a></li>
                    <li><a class="lk" href='#'>好友</a></li>
                    <li class="end"><a class="lk" href='#'>自己</a></li>
                </ul>
            </div>
            <div id="search">
                <input class="mttext_val" type="type" name="name" value="搜索好友、圈子、信息" />
                <input type="submit" id="search_btn" class="" title="搜索" value="">
            </div>

        </div></div>

        <div id="main"><div class="wapper">
            @RenderBody()
        </div></div>

        <div id="footer">
        </div>
</div>

    <div id="PadA"></div>
    <div id="PadB"></div>
    <div id="ajaxload"></div>
    <div id="dialog_target"></div>
    <div id="AlertDialog" class="hide">
        <p>
            <span style="float: left; margin: 0pt 7px 20px 0pt;" class="ui-icon ui-icon-alert"></span>
            <span id="txtAlert"></span>
        </p>
    </div>
    <div id="ConfirmDialog" class="hide" title="确定？">
	    <p>
            <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
            <span id="txtConfirm"></span>
        </p>
    </div>

</body>
</html>
