<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/content/main/jquery.ui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/qcomcn.css")" rel="stylesheet" type="text/css" />
    <script src="@Html.Script("/scripts/sea.js")" type="text/javascript"></script>
</head>

<body>
<div class="body">
    <div id="toper"><div class="wapper">
        <a id='logo'>Q.com.cn</a>
        <div id="nav">
            <ul class="list">
                <li><a href='#'>首页</a></li>
                <li><a class="lk" href='#'>Q博</a></li>
                <li><a class="lk" href='#'>圈子</a></li>
                <li><a class="lk" href='#'>应用</a></li>
                <li><a class="lk" href='#'>好友</a></li>
                <li class="end"><a class="lk" href='#'>我自己</a></li>
            </ul>
        </div>
        <div id="search">
            <input id="search_inp" class="mttext_val" type="input" name="name" value="搜索圈子、信息" />
            <input type="submit" id="search_btn" class="" title="搜索" value="" />
        </div>
        <div id="msg">
            <ul class="list">
                <li><a class="lk" href="#">私信</a></li>
                <li class="end"><a class="lk" href="#">通知</a></li>
            </ul>
        </div>
        <div id="login">
            <ul class="list">
                <li><a class="lk" href="#">设置</a></li>
                <li class="end"><a class="lk" href="#">退出</a></li>
            </ul>
        </div>
        <div id="note">
            <p>1条新的回应<a class="lk">查看回应</a></p>
            <p>3位新粉丝<a class="lk">查看我的粉丝</a></p>
            <p>6条发言提到我<a class="lk">查看&#64我</a></p>
        </div>
    </div></div>

    <div id="main"><div class="wapper">
        @RenderBody()
    </div></div>

    <div id="footer">
    </div>
</div>

<div id="dialog_target"></div>
</body>
</html>
